<%
  name = SecureRandom.hex
%>

<div data-module="copy-to-clipboard">
  <div class="mb-3">
    <%= label_tag name, label, class: "form-label" %> 
    <%= text_field_tag name, copyable_content, class: "form-control copy-to-clipboard-target", readonly: true %> 
  </div>
  <%= button_tag button_text, class: "btn btn-secondary copy-to-clipboard-button mb-3" %> 
</div>