.app-c-callout {
  padding: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #e9ecef;
    border-left-width: .25rem;
    border-radius: .25rem;
}

.app-c-callout-info {
  border-left-color: #5bc0de;
}

.app-c-callout-warning {
  border-left-color: #f0ad4e;
}

.app-c-callout-danger {
  border-left-color: #d9534f;
}

.app-c-callout +.app-c-callout  {
  margin-top: -.25rem;
}