.app-c-image-with-metadata {
  margin-bottom: 20px;
  padding-bottom: 20px;  
  border-bottom: 1px solid $border-color;

  .app-c-metadata {
    margin-bottom: 15px;
  }
}

.app-c-image-with-metadata:last-of-type{
  border-bottom: 0;
}

.app-c-image-with-metadata__image {
  display: block;
  max-width: 100%;
  margin-bottom: 15px;
}