.app-c-media-with-actions {
  margin-bottom: 20px;
  padding-bottom: 20px;

  @include media-breakpoint-up(sm) {
    margin-bottom: 30px;
    padding-bottom: 30px;
  }

  border-bottom: 1px solid $border-color;

  .app-c-metadata {
    margin-bottom: 15px;
  }
}

.app-c-media-with-actions:last-child {
  border-bottom: 0;
}

.app-c-media-with-actions__actions {
  margin: 0;
  padding: 0;
  clear: both;

  li {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 5px;
  }
}