@import "publishing_platform_publishing_components/all_components";
@import "objects/side";
@import "objects/pane";
@import "components/page-preview";
@import "components/callout";
@import "components/metadata";
@import "components/media-with-actions";
@import "components/image-with-metadata";
@import "components/formatted-text";
@import "components/image-cropper";

.container {
  max-width: 960px;
}

.index-button-group {
  @include media-breakpoint-up(sm) {
    float: right;
  }
}

.btn {
  @include media-breakpoint-down(sm) {
    width: 100%;
  }  
}

.app-btn--link {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}